@import "tailwindcss";

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf') format('truetype');
}

html {
	scroll-behavior: smooth;
	font-family: 'Space Grotesk', sans-serif;
	user-select: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}